<p id="parag">Welcome to ChatAPP</p>
<section ng-app="MyApp">
    <div id="list" ng-controller="MyCtrl as ctrl">
        <p id="idp">USERS!!!</p>
        <div id="nameID" ng-repeat="n in nameList">
            <button ng-click="setChatroom(n.name)">{{n.name}}</button>
        </div>
        <!-- <ul ng-repeat="let name in nameList">
                    <li>{name}</li>
                </ul> -->
    </div>
    <div>
        <div id="faf">
            <!-- Show the chat History -->
            <div id="chat-room" ng-repeat="chat in chatRoom track by $index">{{chat}}</div>
            <!-- Show the chat History -->
        </div>
        <div id="ads">
            .<span>
                <input id="idmes" type="text" ng-model="chat" minlength="1" placeholder="Enter Message">
            </span>
            <span>
                <button id="idbutton" ng-click="sendMessage(chat)">.</button>
            </span>
            <!-- {{chat}} -->
        </div>
    </div>

</section>
<!-- <div>{{i}} 123</div> -->
<!-- <p>{{name}} jhcjh</p> -->
<!-- <div ng-repeat="n in nameList">{{n}} 4156</div> -->
<!-- <div>{{ctrl.nameList}} 1312 </div> -->
<!-- <div>{{ctrl.name}} 31</div> -->